
body {
    font-family: "Trebuchet MS";
    margin: 0;
    background-image: url(images/colorsback.jpg);
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size: cover;
    width:100%;
    height:100%;
}



/* -----------page index avec le logo---------*/


.logocenter {
    position: relative;
    margin : 0 auto;
    text-align: center;
    vertical-align: middle;
    margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
}

/*---------------------------------------------*/


/* bandeau de menu */

.header {
    background-color: #000000;
    margin: auto;
    width: auto;
	height: auto;
}



/* bouton de menu */

.menu {
    margin-top: 0px;
    text-align: right;
}

.menu li {
    display: inline-block;
}

.menu a {
    display: block;
    border: 0px solid #a5a5a5;
    background-color: #bf0034;
    color: #2a2a2d;
    text-decoration: none;
    margin: 10px;
    width: 100px;
    padding: 5px 0;
    text-align: center;
    border-radius: 5px;
}

.menu a:hover {
    background-color: #FF991D;
    color: #000000;
    border-color: #c2c2c2;
}


/* -----------Prénom Nom------------------ */

#name {
    font-family: 'Lobster', cursive;
    color: coral;
    margin-top: 9px;
    margin-left: 70px;
    text-align: left;
    display: inline-block;
    float: left;
    text-align: center;
    font-size: 23px;

}

/* --------------page d'accueil------------- */


/* logo flottant */

div#mainacc {
    padding: 15px;
    margin: 30px;
}

div#logoacc {
    height: auto;
    float: left;
    text-align: center;
    width: 200px;
}

#p1 {
    font-family: 'Bree Serif', serif;
    text-shadow: 1px 1px 1px black;
    font-size: 20px;
    margin-top: 0; 
    text-align: justify;
    text-decoration: none;
    color: rgb(0, 0, 0);

}

/* -------------page galerie----------------- */

.galerie {
    margin-top: 8%;
    margin-left: 29%;
    width: 65%;
    padding-left: 0;
    
}


/* --------------page de contact-------------- */

.container {
    display: inline-flex;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
    margin: 0 auto;
}


footer {
    background-color: #000000;
    display: block;
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
}

.container2 {
    margin: auto;
    height: 100px;
    padding: auto;
}


.linked {
    margin-top: 20px;
    display: inline-block;
    text-align: center;
    width: 100%
}

/*---------page CV-----------------*/

.cv {
    font-family: 'Bree Serif', serif;
    text-shadow: 1px 1px 1px black;
    font-size: 18px;
    margin-top: 7%;
    margin-left: 29%;
    width: 65%;
    padding-left: 0;
}



/*-----------page works--------------*/

.works {
        margin-top: 70px;
        margin-left: 45%;
        position: relative;

}
