/*-- Hello World! --*/
body{
    font-family: "Trebuchet MS";
    margin: 0;
    background-color: #b6b2ae;
    width:100%;
    height:100%;
}

HTML { 
    overflow-x : hidden;
}

.responsive {
    background: url(images/code-18.jpg);
    background-repeat: no-repeat;
    filter: saturate(2);
    opacity: 0.5;
    width: 100%;
    height: 260px;
    background-size: cover;
    border: none; 

}

/* -----------page index avec le logo---------*/


.logocenter {
    position: relative;
    margin : 0 auto;
    text-align: center;
    vertical-align: middle;
    margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
}

/*---------------------------------------------*/

/* bandeau de menu */

.header {
    background-color: #272B2E;
    margin: auto;
    width: auto;
    height: 77px;
    border-bottom: 3px solid #0fbe7a;
    top: 0px;
}


/* nav menu */

.menu {
    font-family: monospace;
    font-size: 16px;
    margin-top: 0px;
    text-align: right;
}

.menu ul li a:active {
    color: #15BF7A;  
}

.menu li {
    display: inline-block;
}

.menu a {
    display: block;
    border: 0px solid #a5a5a5;
    background-color: #272B2E;
    color: #15BF7A;
    text-decoration: none;
    margin: 30px;
    width: 100px;
    padding: 5px 0;
    text-align: center;
    border-radius: 3px;
}

.menu a:hover {
    background-color: #15BF7A;
    color: #000000;
    border-color: #c2c2c2;
    padding-bottom: 23px;
}


/* -----------Prénom Nom------------------ */

#name {
    font-family: 'Lobster', cursive;
    color: rgb(255, 255, 255);
    margin-top: 18px;
    margin-left: 70px;
    text-align: left;
    display: inline-block;
    float: left;
    text-align: center;
    font-size: 23px;
}

/* --------------page d'accueil------------- */


/* texte presentation ---------------------- */
#p1 {
    font-family: 'Bree Serif', serif;
    color: black;
    /* text-shadow: 1px 1px 2px black; */
    font-size: 22px;
    margin-top: 0; 
    margin-right: 150px;
    margin-left: 260px;
    text-align: justify;
    text-decoration: none;
}

t2 {
    color: #15BF7A;
    font-size: 28px;
    text-shadow: 1px 1px 2px black;
}

/* logo flottant */
div#mainacc {
    padding: 15px;
    margin: 30px;
}

div#logoacc {
    height: auto;
    float: left;
    text-align: center;
    width: 200px;
}


/* carousel-------------------------- */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover */
.prev:hover, .next:hover {
  background-color: #717171;
}

/* Caption text */
.text {
  color: #000000;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #15BF7A;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* -------------page galerie----------------- */
/* * {
    box-sizing: border-box;
} */
  
/* body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
} */

/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}
  
h1 {
    font-size: 50px;
    word-break: break-all;
}
  
.row {
    margin: 8px -16px;
}
  
/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
    padding: 5px;
}
  
/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    display: none; /* Hide columns by default */
}
  
/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
/* Content */
.content {
    background-color: rgb(216, 206, 206);
    padding: 10px;
    border-radius: 20px;
}
  
/* The "show" class is added to the filtered elements */
.show {
    display: block;
}
  
/* Style the buttons */
.btn {
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 12px 16px;
    background-color: rgb(87, 137, 184);
    cursor: pointer;
}
  
/* Add a grey background color on mouse-over */
.btn:hover {
    background-color: #15BF7A;
}
  
/* Add a dark background color to the active button */
.btn.active {
    background-color: #15BF7A;
     color: white;
}


/* --------------page de contact-------------- */

/* .backstars { 
    display: flex;
    background: url('images/backstars.jpg')repeat center center fixed;;
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
    min-height:800px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */
  
.container {
    display: inline-flex;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
    margin: 0 auto;
}

.container2 {
    margin: auto;
    height: 100px;
    padding: auto;
    display: flex;
}


.linked {
    margin-top: 20px;
    display: inline-block;
    text-align: center;
    width: 100%
}

/* formulaire ---------------------*/
input[type=text], select, textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(0, 0, 0);
    background:#c9c9c9;
    border-radius: 20px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 19px;
    resize: vertical;
    height: 30px;
}
  
input[type=submit] {
    background-color: rgb(87, 137, 184);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #15BF7A;
}
  
.containerform {
    margin: 80px auto;
    width: 550px; 
    border-radius: 20px;
    background-color: #272B2E;
    padding: 10px;
    box-shadow: 20px 20px 25px 3px rgba(0,0,0,0.85);
}

/*---------page CV-----------------*/

.cv {
    font-family: 'Bree Serif', serif;
    color: whitesmoke;
    text-shadow: 1px 1px 1px black;
    font-size: 18px;
    margin-top: 7%;
    margin-left: 29%;
    width: 65%;
    padding-left: 0;
}



/*-----------page works--------------*/

.works {
        margin-top: 70px;
        margin-left: 45%;
        position: relative;

}



/*-----------pied de page--------------*/
footer {
    background-color: #272B2E;
    display: block;
    position: fixed;;
    width: 100%;
    height: auto;
    bottom: 0;
    justify-content: space-between;
}
